@import url('https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap');

.header {
    background-image: url("../../static/images/bandwebsitepic.png");
    //background-size: 500px;
    background-size: cover;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 0 2rem;
}

.title {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 3rem;
    text-decoration: none;

    img {
        width: 70%;
        margin-top: -30px;
        //margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .band {
        width: 60%;
    }
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 46px;
    list-style-type: none;
    margin: 0;
    margin-top: 75px;
    margin-bottom: -40px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.356);

}

.nav-item {
    font-family: 'Varta', sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-right: 0rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #333333;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 4.25rem;
    
}



@media screen and (min-width: 700px ) {

    .header {
        background-image: url("../../static/images/bandwebsitepic.png");
        height: 350px;
        //background-size: 900px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 0 2rem;
        
    }
    
    .title {
        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 3rem;
        text-decoration: none;
    
        img {
            width: 70%;
            margin-top: -30px;
            //margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .band {
            width: 50%;
        }
    }
    
    
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 80px;
        list-style-type: none;
        margin: 0;
        margin-top: 120px;
        margin-bottom: -40px;
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.356);
    
    }
    
    .nav-item {
        font-family: 'Varta', sans-serif;
        font-size: 30px;
        color: #ffffff;
        margin-right: 1.3rem;
        text-decoration: none;
    }
    
    .nav-item:hover {
        color: #666666;
    }
    
    .active-nav-item {
        color: #333333;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 4.25rem;
        
    }


}


@media screen and (min-width: 1000px ) {

    .header {
        background-image: url("../../static/images/bandwebsitepic.png");
        height: 350px;
        //background-size: 900px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 0 2rem;
        
    }
    
    .title {
        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 3rem;
        text-decoration: none;
    
        img {
            width: 70%;
            margin-top: -30px;
            //margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .band {
            width: 50%;
            margin-top: -70px;
        }
    }
    
    
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 80px;
        list-style-type: none;
        //margin: 0;
        //margin-top: 70px;
        //margin-bottom: -40px;
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.356);
    
    }
    
    .nav-item {
        font-family: 'Varta', sans-serif;
        font-size: 30px;
        color: #ffffff;
        margin-right: 1.3rem;
        text-decoration: none;
    }
    
    .nav-item:hover {
        color: #666666;
    }
    
    .active-nav-item {
        color: #333333;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 4.25rem;
        
    }


}

@media screen and (min-width: 1300px ) {

    .header {
        background-image: url("../../static/images/bandwebsitepic.png");
        height: 500px;
        //background-size: 1200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 0 2rem;
        
    }
    
    .title {
        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 3rem;
        text-decoration: none;
    
        img {
            width: 70%;
            margin-top: -30px;
            //margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .band {
            width: 50%;
        }
    }
    
    
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 80px;
        list-style-type: none;
        margin: 0;
        margin-top: 222px;
        margin-bottom: -40px;
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.356);
    
    }
    
    .nav-item {
        font-family: 'Varta', sans-serif;
        font-size: 30px;
        color: #ffffff;
        margin-right: 1.3rem;
        text-decoration: none;
    }
    
    .nav-item:hover {
        color: #666666;
    }
    
    .active-nav-item {
        color: #333333;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 4.25rem;
        
    }


}


@media screen and (min-width: 1600px ) {

    .header {
        background-image: url("../../static/images/bandwebsitepic.png");
        height: 600px;
        //background-size: 1500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 0 2rem;
        
    }
    
    .title {
        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 3rem;
        text-decoration: none;
    
        img {
            width: 70%;
            margin-top: -30px;
            //margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .band {
            width: 50%;
        }
    }
    
    
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 80px;
        list-style-type: none;
        margin: 0;
        margin-top: 290px;
        margin-bottom: -40px;
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.356);
    
    }
    
    .nav-item {
        font-family: 'Varta', sans-serif;
        font-size: 30px;
        color: #ffffff;
        margin-right: 1.3rem;
        text-decoration: none;
    }
    
    .nav-item:hover {
        color: #666666;
    }
    
    .active-nav-item {
        color: #333333;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 4.25rem;
        
    }


}


@media screen and (min-width: 1900px ) {

    .header {
        background-image: url("../../static/images/bandwebsitepic.png");
        height: 600px;
        //background-size: 1500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 0 2rem;
        
    }
    
    .title {
        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 3rem;
        text-decoration: none;
    
        img {
            width: 70%;
            margin-top: -30px;
            //margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .band {
            width: 50%;
        }
    }
    
    
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 80px;
        list-style-type: none;
        margin: 0;
        margin-top: 247px;
        margin-bottom: -40px;
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.356);
    
    }
    
    .nav-item {
        font-family: 'Varta', sans-serif;
        font-size: 30px;
        color: #ffffff;
        margin-right: 1.3rem;
        text-decoration: none;
    }
    
    .nav-item:hover {
        color: #666666;
    }
    
    .active-nav-item {
        color: #333333;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 4.25rem;
        
    }


}



